.listItemsContainer {
  margin: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
}
.tableProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.buyButton {
  /* width: 80%; */
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;

  color: var(--white);
  background: orange;

  border: 0;
  border-radius: 15px;

  transition: background-color 0.2s;
}
